.input-field {
  position: relative;
  width: 100%;

  &__input {
    padding: 8px 32px 8px 32px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__search-icon {
    position: absolute;
    left: 8px;
    top: 28%;
    pointer-events: none;
  }

  &__clear-icon {
    position: absolute;
    right: 8px;
    top: 20%;
    cursor: pointer;
    color: #999;
  }
}
