.progress-bar {
  &__container {
    flex: 1;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
    margin-left: 8px;
    position: relative;
  }

  &__fill {
    height: 100%;
    border-radius: 2px;
    width: 0;
  }
}
